html, body{
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
}

*{box-sizing: border-box;}

#wrap{
	margin: 100px auto;
	width: 400px;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px ;
}

h2{
	font-family: Tahoma;
	text-align: center;
}

input[type = radio]{
	border: 1px solid #748574;
}

input[type="text"]{
	border: 1px solid green;
	line-height: 25px;
	width: 100%;
}

input[type="password"]{
	width: 120px;
	line-height: 25px;
	border: 1px solid red;
	width: 100%;
}

input[type="submit"]{
	width: 120px;
	margin: 0 110px;
	background: #fff;
	line-height: 25px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-weight: bold;
}