.box{
	padding: 15px;
	border: 1px solid #dddddd;
	border-top-width: 5px;
	float: left;
	width: 33.33%;
}

.info{
	border-color: #76a7fa;
}

.contact{
	border-color: #f9b256;
}

.company{
	border-color: #4dbfd9;
}

.wrap{
	max-width: 1000px;
	margin: auto;
}

